@charset "gb2312";
*{margin:0;padding:0}
blockquote,body,dd,div,dl,dt,filedset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;font-family:"Microsoft YaHei","微软雅黑",Verdana,"宋体",Arial,helvetica,sans-serif!important; font-size:14px;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}
li,ol{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
q:afer,q:before{content:''}
abbr,acronym{border:0}
a{text-decoration:none}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:""}
.clearfix:after{clear:both}

.ydd_con{ width:100%; margin:0 auto}
.ydd_1000{ width:1000px; margin:0 auto}

.nav{ height:100px; background:url(../images/navbg.jpg)}  
.nav .ydd_1000{ height:100px; background:#036e4a}
.nav .logo{ width:170px; height:100px; float:left}
.nav ul{ display:block; width:830px; height:100px; float:left;}
.nav ul li{float:left}
.nav ul li a{ width:118px; display:block; height:100px; text-align:center; color:#fff; line-height:30px;}
.nav ul li a p{ font-size:15px; font-weight:bold; padding-top:20px}
.nav ul li a span{ font-size:10px; font-family:"宋体"}
.nav ul li:nth-child(odd){ background:#02764f}
.banner{ height:682px; background: url(../images/1dd_hr.jpg) repeat-x 0 651px #faf8f0}
.about{ height:350px; background:#02734a; padding-top:35px;}
.about .ydd_1000{ margin-bottom:35px; height:238px; border:1px solid #015d3c; padding:20px; width:958px}
.ab_logo{ width:280px; height:188px; float:left; margin-top:43px;}
.aboutnr{ width:640px; float:left; margin-left:30px; color:#fff}
.aboutnr h3{ font-size:24px; line-height:40px;}
.aboutnr h3 span{ font-size:10px; font-family:"宋体"; padding-left:10px;}
.aboutnr p{ font-size:14px; line-height:32px; text-indent:2em}

.index_new{ height:430px; background:#fff}
.zxnews{ width:510px;float:left}
.hotnews{ width:440px; float:left; margin-left:50px;}
.zxnews .bt,.hotnews .bt{ height:65px; float:left; width:100%}
.zxnews .bt{ background:url(../images/newstb.png) no-repeat left}
.hotnews .bt{ background:url(../images/hottb.png) no-repeat left}
.index_new .bt a{ float:right; font-size:12px; color:#666;font-family:"宋体"; }
.index_new .bt a:hover{ text-decoration:underline}
.index_new .bt{ line-height:65px; text-indent:46px;}
.index_new .bt p{ font-size:18px; font-weight:bold; color:#02734a}
.index_new .bt p span{font-size:12px; font-family:"宋体"; padding-left:10px; color:#333; font-weight:normal; margin-left:10px; border-left:1px solid #f2f2f2}
.zxnews ul{ display:block; float:left; background:#faf8f0; height:330px; width:100%}
.zxnews ul li{ line-height:53px; border-bottom:1px solid #e7e5de;}
.zxnews ul li a{ display:block; width:470px; padding:0 20px; height:53px;color:#02734a}
.zxnews  a span{ float:right; color:#02734a}
.zxnews ul li:hover span{ display:none}
.zxnews ul li:hover a{ text-indent:35px;transition:text-indent 0.2s;  background:url(../images/jinr.png) no-repeat 21px -4px #f4efdc; color:#333}
.hotnr{ width:440px; height:330px; float:left}


.zxnews .up { background:#8d1a21;color:#fff;}
.zxnews .block { display:block;}
.zxnews h3 { float:left; width:160px; height:40px; line-height:40px; margin:0 0 0 0; font-size:16px; cursor:pointer;text-align:center; color:#5a5a5a; font-family:Microsoft YaHei;font-weight:normal; border-bottom:1px solid #8d1a21}





#cont{position: relative;width:440px;height:330px; overflow:hidden}
.imm a{position: absolute}
.imm p{ position:absolute; bottom:0; height:40px; background:#02734a; color:#fff; display:block; width:100%; line-height:40px; text-indent:20px}
.btn ul {position: absolute;z-index: 10000;bottom: 10px;right: 10px;}
.btn ul li{width:20px;height:20px;background-color:#fff;border-radius:50%;list-style:none;float:left;margin:0 5px;text-align:center;color:#fff;line-height:20px;cursor:pointer;color:#333}
.btn ul li.on{background-color:#02734a;color:#fff}
.diin{width:100%;height:30px;background-color:#000;opacity:.5;position:absolute;bottom:0;color:#fff;z-index:10000}
#jiao{display:none}
#left{width:35px;height:50px;z-index:9999;display:block;position:absolute;top:40%;left:0px;color:#fff;font-size:20px;line-height:50px;text-align:center;text-decoration:none}
#right{width:35px;height:50px;z-index:9999;display:block;position:absolute;top:40%;right:0px;color:#fff;font-size:20px;line-height:50px;text-align:center;text-decoration:none}

.jmindex{ height:510px; background:#f2f2f2}
.jmindex .bt{ height:140px; width:100%; text-align:center}
.jmindex .bt p{ font-size:24px; line-height:80px; color:#02734a; font-weight:bold;}
.jmindex .bt span{font-size:14px; line-height:59px; color:#333; border-top:1px solid #333; display:block; width:60px; margin:0 auto}
.jmindex li{ width:200px; height:370px; float:left; margin-right:61px;}
.jmindex li dt{ width:200px; height:170px; background:#fff; border-radius:50%; text-align:center; padding-top:30px}
.jmindex li dt p{ font-size:18px; font-weight:bold; color:#333; line-height:40px;}
.jmindex li dd{ width:200px; height:160px; padding-top:20px; font-size:14px; line-height:30px; color:#333}

.lc{ height:60px; background:#02734a}
.lc h3{ display:none}
.lc .ydd_1000{ height:60px; background:url(../images/1dd_ff.jpg)}
.lc li{ float:left; line-height:60px; color:#fff; font-size:14px; width:200px; text-indent:75px;}

.storeindex{ height:300px; background:#f2f2f2}
.marqueeleft{overflow:hidden;}
.marqueeleft ul{float:left;}
.marqueeleft li{float:left;display:inline;overflow:hidden; position:relative; width:380px; height:280px; overflow:hidden; border:10px solid #f2f2f2;border-left:5px solid #f2f2f2;border-right:5px solid #f2f2f2;}
.marqueeleft li p{ width:0; position:absolute; bottom:0; display:block; line-height:60px; color:#fff; font-size:16px; text-align:center;background:#02734a; height:60px; overflow:hidden}
.marqueeleft li:hover p{ width:100%; transition:width 0.2s}

.botnav{ height:230px; background:#02734a;}
.botnav ul{ display:block; width:750px; float:left}
.botnav ul li{ display:block; width:110px; float:left; margin-top:30px; padding-right:30px; }
.botnav ul li dt,.botnav ul li dd,.botnav ul li dd a{ line-height:32px; color:#fff}
.botnav ul li dt{ font-size:14px; border-bottom:1px solid #023120; line-height:40px; margin-bottom:10px;}
.botnav ul li dd{ font-size:12px;}
.botnav ul li dd a:hover{ text-decoration:underline}
.footlo{ float:left; margin:50px 0 0 50px}

.link{ height:70px; background:#023120}
.link .ydd_1000{ line-height:70px; font-size:12px;color:#fff}
.link .ydd_1000 a{ color:#fff; padding:0 10px}

.footer{ height:50px; background:#022619; line-height:50px; text-align:center; color:#fff; font-size:14px;}
/*******************LIST*************************/
.banner2{ background:#faf8f0; height:320px; padding-top:20px;}
.list_nav{ height:50px; border-bottom:1px solid #f2f2f2; background:#fff}
.ln_l{ width:250px; background:#02734a; height:50px; line-height:50px; font-size:16px; color:#fff; text-indent:20px; float:left}
.ln_l span{ font-size:10px; border-left:1px solid #fff; padding-left:10px; margin-left:10px;}
.ln_r{ width:730px; height:50px; line-height:50px; font-size:14px; color:#333; padding-right:20px; text-align:right; float:left}
.ln_r a{ color:#666; padding:0 10px}

.list_a{ padding-top:10px; overflow:hidden; position:relative; min-height:570px;}
.list_nav a:hover{ color:#02734a}

.list_l{ width:250px; float:left; margin-right:10px; position:absolute; background:#fff;}
.l_img{ width:250px; margin-bottom:10px; float:left}
.l_ts{ border:1px solid #f2f2f2; width:218px; float:left; padding:10px 15px; margin-bottom:10px}
.l_ts p{ font-size:16px; color:#000; line-height:50px; font-weight:bold}
.l_ts li{ border-bottom:1px solid #f2f2f2}
.l_ts a{ font-size:14px; color:#333; line-height:30px;  }
.l_ts a:hover{ color:#02734a; padding-left:20px; transition:padding 0.2s}

.list_r{ width:718px; float:left; border:1px solid #f2f2f2; padding:0 10px; margin-left:260px; margin-bottom:10px}
.listnb li{ display:block; width:718px; float:left; height:180px; padding:10px 0; border-bottom:1px solid #ccc}
.listnb li img{ display:block; width:240px; height:180px; float:left}
.newbox{ width:455px; margin-left:20px; float:left; height:140px; overflow:hidden}
.newbox a{ font-size:16px; color:#333; line-height:50px; font-weight:bold}
.newbox p{ font-size:14px; color:#999; line-height:30px; text-indent:2em}

.datebox{ overflow:hidden; height:30px; float:left; width:180px; border-radius:4px; overflow:hidden; width:180px; margin-left:290px; margin-top:10px}
.datebox>span{ background:#f2f2f2;line-height:30px; display:block; height:30px; width:90px; float:left; text-align:center; color:#999}
.datebox>a{ background:#02734a; color:#fff; line-height:30px; display:block; height:30px; width:90px; float:left; text-align:center}
.datebox>a:hover{ background:#000}
#con_two_1{display:block}
#con_two_2{display:none}
#con_two_3{display:none}

/* ---翻页----------------------------------------*/
.cpnav{width:100%; margin:0 auto; padding:10px 0; text-align:center; overflow:hidden; height:55px;}
#pages { padding:14px 0 10px;  }
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#bd9e7f; border:1px solid #bd9e7f; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
/*********************NEWS***********************/
.newsnr{}
.newsnr h3{ font-size:20px; text-align:center; line-height:50px; color:#000; padding-top:10px; font-weight:bold;border-bottom:1px solid #f2f2f2}
.newsnr center{ font-size:12px; color:#999; line-height:40px; }
.newsnr div>p{ text-indent:2em; line-height:30px; font-size:14px; color:#333}
.newsnr div img{ display:block; margin:10px auto}

.sxp{ border-top:1px solid #f2f2f2} 
.sxp li{ line-height:40px;}
.sxp li a{ font-size:16px; color:#000; font-weight:bold}
.sxp li a:hover{ text-decoration:underline}

/********************CP***********************/
.listcp{}
.listcp li{ display:block; width:359px; float:left; height:280px; padding:10px 0; }
.listcp li img{ border:1px solid #02734a}
.listcp li p{ text-align:center; line-height:30px;}

/********************STORE***********************/
.liststore li{float:left;display:inline;overflow:hidden; position:relative; width:359px; height:272px; overflow:hidden; }
.liststore li p{ width:0; position:absolute; bottom:10px; display:block; line-height:60px; color:#fff; font-size:16px; text-align:center;background:#02734a; height:60px; overflow:hidden}
.liststore li:hover p{ width:350px; transition:width 0.2s}

/********************MESSAGE***********************/
input{outline:none} 
textarea{resize:none} 
.messages{padding:15px 0;}
.messages h3{ font-size:20px; line-height:40px; color:#02734a; font-weight:bold; text-indent:110px}
.messages h4{ font-size:14px; line-height:30px; color:#02734a; text-indent:110px; padding-bottom:10px; border-top:1px solid #f2f2f2}
.messages input,.messages select,.messages textarea{margin:0;padding:0; background:none; border:0; font-family:"Microsoft Yahei";}
.messlist {height:30px;margin-bottom:10px; }
.messlist label{float:left;width:100px; height:30px; font-size:14px; line-height:30px; text-align:right;padding-right:10px;}
.messlist input{float:left;width:300px;height:28px;padding-left:5px;border:#ccc 1px solid;}
.messlist.textareas{ height:auto; overflow:hidden}
.messlist textarea{float:left;width:400px; height:110px;padding:5px;border:#ccc 1px solid;}
.messlist.yzms input{width:100px;}
.messlist.yzms .yzmimg{ float:left;margin-left:10px;}
.messsub{padding:0px 0 0 110px;}
.messsub input{width:100px; height:35px; background:#ddd; font-size:14px; font-weight:bold; cursor:pointer;margin-right:5px}
.messsub input:hover{ background:#f60;color:#fff;}
#label0{display:none;color:#0aa770;height:28px;line-height:28px;}
#label1{display:none;color:#0aa770;height:28px;line-height:28px;}
#label2{display:none;color:#0aa770;height:28px;line-height:28px;}
#label3{display:none;color:#0aa770;height:28px;line-height:28px;}
#label4{display:none;color:#0aa770;height:28px;line-height:28px;}
#label5{display:none;color:#0aa770;height:28px;line-height:28px;}
#label6{display:none;color:#0aa770;height:28px;line-height:28px;}
#label7{display:none;color:#0aa770;height:28px;line-height:28px;}
#label8{display:none;color:#0aa770;height:48px;line-height:48px;}
#label9{display:none;color:#0aa770;height:48px;line-height:48px;}
#label10{display:none;color:#0aa770;height:48px;line-height:48px;}
/* m_zlxg */
.m_zlxg{ width:93px; height:30px; line-height:30px;cursor:pointer;float:left;margin:0 10px 0 0;display:inline;background:url(../images/zlxg2.jpg) no-repeat;}
.m_zlxg p{ width:71px; padding-left:10px; overflow:hidden; line-height:30px; color:#333333; font-size:12px; font-family:"微软雅黑";text-overflow:ellipsis; white-space:nowrap;}
.m_zlxg2{ position:absolute; top:29px; border:1px solid #ded3c1;background:#fff; width:91px; display:none; max-height:224px;-height:224px; overflow-x:hidden; overflow-y:auto;white-space:nowrap;}
.m_zlxg2 li{line-height:28px;white-space:nowrap; padding-left:10px;font-family:"微软雅黑";color:#333333; font-size:12px;}
.m_zlxg2 li:hover{ color:#7a5a21;}




.lubo{ width: 100%; min-width:1000px;clear: both; position: relative; height:682px;}
.lubo_box{ position: relative; width: 100%; height:682px; }
.lubo_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; height:682px; opacity: 0;filter:alpha(opacity=0);}
.lubo_box li a{ display: block;width: 100%;  height: 650px;}

.lubo_box li img{ width: 100%; height:682px;}

/*圆点*/
.cir_box{ overflow: hidden; position: absolute; z-index: 100;}
.cir_box li{ float: left; width: 30px; height: 5px; margin:0 5px; cursor: pointer; background: #fff; opacity: 0.8;filter:alpha(opacity=80);}
.cir_on{ background: #000 !important;}

/*按钮*/
.lubo_btn{ position: absolute; width: 100%; top: 45%;opacity: 0;filter:alpha(opacity=0);}
.left_btn, .right_btn{ width: 30px; height: 80px; background: #000;opacity: 0.8;filter:alpha(opacity=80); cursor: pointer; color: #fff; line-height: 80px; font-size: 30px; text-align: center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.left_btn{ float: left;}
.right_btn{ float: right;}
.lubo:hover .lubo_btn{opacity:1;filter:alpha(opacity=1);transition:opacity 1s}

.btn-group {
  margin: auto 0px 0px 150px;
  width: 100%;
  display: inline-block;
}
.btn-group li {
  margin: 20px auto 20px;
  display: inline;
  float: left;
  padding: 5px 10px;
  border: 1px solid #CCC;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  margin-right: 5px;
}
.main{ width:1000px; margin:0 auto}
